.scores p {
  padding: 0;
  margin: 4px;
}

.scores p:last-child{
  margin-top: 15px;
}

.scores{
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
}

.button-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-section p{
  padding: 0;
  margin: 0px 5px 00px ;
  margin-top: 0 !important;
}

.scores button{
  margin-top: 0;
  margin-left: 10px;
}

.score{
  display: flex;
  justify-content: center;
  gap: 10px;
}
