nav{
  display: flex;
  width: 550px;
  max-height: 91px;
  align-items: center;
  background: #21222A;
  padding: 38px 27px 32px;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
}

.logo{
  width: 158px;
  display: flex;
  align-items: center;
  padding: 0;
}

.logo-text{
  color: #61DAFB;
  font-size: 22.253px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.113px;
}

.description{
  color: #DEEBF8;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
